POSTGRES_DB=project
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=password

AIRFLOW_UID=50000
_AIRFLOW_WWW_USER_USERNAME=airflow
_AIRFLOW_WWW_USER_PASSWORD=password

YOUTUBE_API_KEY=your_youtube_api_key
NEWS_API_KEY=your_news_api_key

YOUTUBE_QUERY=data engineering
YOUTUBE_MAX_RESULTS=10
NEWS_QUERY=data engineering OR airflow OR python
NEWS_LANGUAGE=en
NEWS_PAGE_SIZE=50